nav{
    position:fixed;
    top:0;
    left:0;
    width:250px;
    height:100%;
    margin:0 0 0 -250px;
    -moz-transition:all 200ms ease-in;
    -webkit-transition:all 200ms ease-in;
    -o-transition:all 200ms ease-in;
    transition:all 200ms ease-in;
    background:r#0b2b3a;

}
nav ul{
    width:250px;
    height:100%;
    padding: 0;
    margin:0;
    list-style:none;
    background:#0b2b3a;
    overflow:hidden;


    

}
nav h1{
    font-family:'helvetica neue', helvetica, arial, sans-serif;
    color:#fff;
    font-size: 40px;
    padding: 9px 30px;
    
}
nav h2{
    font-family:'helvetica neue', helvetica, arial, sans-serif;
    font-size:20px;
    font-weight: 600;
    color:#fff;
    padding: 5px 30px;

}

nav p{
    font-family:'helvetica neue', helvetica, arial, sans-serif;
    font-size:20px;
    font-weight: 600;
    color:#fff;
    padding: 9px 30px;
}

nav a{
    color:#fff;
    font-size:13px;
    font-family:'helvetica neue', helvetica, arial, sans-serif;
    text-decoration:none;
    display:block;
    padding:5px 30px;
    font-weight:300;
    letter-spacing:2px;
    border-bottom:1px solid #333;
}

nav a:hover{
    background:#071d27;
    color: white;
    text-decoration:none;
}

a:hover{color:white}

.labelmenu{
    display:block;
    font-family:'helvetica neue', helvetica, arial, sans-serif;
    font-weight:700;
    background:#0b2b3a;
    width:30px;
    height:30px;
    line-height:30px;
    color:#fff;
    text-align:center;
    font-size:20px;
    line-height:33px;
    position:absolute;
    top: 8px;
    left: 0;
    -moz-transition:all 200ms ease-in;
    -webkit-transition:all 200ms ease-in;
    -o-transition:all 200ms ease-in;
    transition:all 200ms ease-in;
    z-index:500;
    
}